body{

background-color:black;

}
#meals{
margin-top: 10px;
display: grid;
grid-gap: 10px;
grid-template-columns: repeat(3, 1fr);
}


.meal{
    background-color:seagreen;
width: 300px;
border-radius: 10px;
text-align: center;
cursor: pointer;

}

.meal img{
  width: 300px;  
}
.singleMealHead{
color:yellow;

}
.ingredients{
  color: aqua;
}
.ulColor{
color: white;
}
.liColor{
color: white;

}

.single-meal img{

width: 400px;

}
.error{
text-align: center;
color: white;
background-color: red;
font-size: 50px;
font-weight: 100;

}